@model Settingsdoctor
@{
    ViewBag.Ref = "Settings";
    ViewBag.Title = "医生修改信息";
}

<form class="Settings_form" method="post" action="Doctor">
    <div>
        <p>以下是您可以修改的信息框内为原值，框内为原值(不修改则为默认不修改)：</p><br />
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-10">
            @Html.TextBox("name", null, new { @class = " form-control ", placeholder = "姓名" })
        </div>
    </div>
    <div class="form-group">
        <label for="hos_name" class="col-sm-2 control-label">所在医院</label>
        <div class="col-sm-10">
            @Html.TextBox("hos_name", null, new { @class = " form-control ", placeholder = "所在医院" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="password"
                   placeholder="请输入密码" id="people_pwd">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">确认密码：</label>
        <div class="col-sm-10">
            <input type="password" class="form-control"
                   placeholder="请输入密码" id="people_pwd2">
        </div>
    </div>
    <p id="msg_pwd" style="margin-left: 150px"></p>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-light" id="btn_register">提交</button>
        </div>
    </div>
    <p><div class="btn btn-primary" id="DeleteDoctor" onclick="Delete_doctor()">删除个人信息</div></p>
</form>

<script>
    $(document).ready(function () {
        $('#people_pwd').on('input propertychange', function () {
            //input propertychange即实时监控键盘输入包括粘贴
            var pwd = $.trim($(this).val());
            //获取this，即ipwd的val()值，trim函数的作用是去除空格
            var rpwd = $.trim($("#people_pwd2").val());
            if (pwd == rpwd) {                                 //相同则提示密码匹配
                $("#msg_pwd").html("<font color='green'>两次密码匹配通过</font>");
                $("#btn_register").attr("disabled", false); //使按钮无法点击
            } else {                                          //不相同则提示密码匹配
                $("#msg_pwd").html("<font color='red'>两次密码不匹配</font>");
                $("#btn_register").attr("disabled", true);

            }
        })
    })
    $(document).ready(function () {
        $('#people_pwd2').on('input propertychange', function () {
            var pwd = $.trim($(this).val());
            var rpwd = $.trim($("#people_ipwd").val());
            if (pwd == rpwd) {
                $("#msg_pwd").html("<font color='green'>两次密码匹配通过</font>");
                $("#btn_register").attr("disabled", false);
            } else {
                $("#msg_pwd").html("<font color='red'>两次密码不匹配</font>");
                $("#btn_register").attr("disabled", true);
            }
        })
    })
</script>