@{ ViewBag.Ref = "template";
                ViewBag.Title = "修改"; }

<div class="text-center">
    <div class="settings_body">
        <h3>功能选择</h3>
        <div class="settings_vertical">
            <a asp-area="" asp-controller="Settings" asp-action="Changepeople">修改个人信息入口</a>
            <br />
            <a asp-area="" asp-controller="Settings" asp-action="Doctor">修改个人信息-医生通道</a>
            <br />
            <a asp-area="" asp-controller="Settings" asp-action="Patient">修改个人信息-病人通道</a>
            <br />
            <a asp-area="" asp-controller="Settings" asp-action="Manager">修改个人信息-管理员通道</a>
            <br />
            <a asp-area="" asp-controller="Settings" asp-action="Delete">删除个人信息入口</a>
            <br />
        </div>
    </div>
</div>