@model Settingsmessage
@{
    ViewBag.Ref = "Settings";
    ViewBag.Title = "显示修改结果";
}
    <form class="Settings_form" method="post" action="Changepeople">
        <div>
            <p>@ViewBag.hehe</p>
        </div>
        <a asp-area="" asp-controller="Settings" asp-action="Index">点击回到索引页面</a>
    </form>