@{
    ViewBag.Ref = "Settings";
    ViewBag.Title = "密码错误";
}
<form class="Settings_form" method="post" action="PasswordError">
    <div>
        <p>@ViewBag.hehe</p>
    </div>
    <a asp-area="" asp-controller="Settings" asp-action="Index">点击回到索引页面</a>
</form>