@model Travelmodel
@{
    ViewBag.Ref = "template";
    ViewBag.Title = "模板";
}

    <div class="text-center">
        <a asp-area="" asp-controller="Travel" asp-action="Show">读取行程信息</a><br />
        <a asp-area="" asp-controller="Travel" asp-action="PeopleAdd">民众添加行程</a><br />
        <a asp-area="" asp-controller="Travel" asp-action="ShowQRcode">出示二维码</a><br />
        <a asp-area="" asp-controller="Travel" asp-action="Addpresite">添加预填地址</a><br />
        <a asp-area="" asp-controller="" asp-action="">返回首页</a><br />
    </div>
