@model Mamodel
@{
    ViewBag.Ref = "template";
    ViewBag.Title = "模板";
}

    <div class="text-center">
        <img src="/QRCode?path=Travel/ManagerAdd_info?id=@Model.maID" />
        <h1>用户ID：@Model.maID</h1>
        <h4>(扫描二维码添加该用户的行程信息)</h4>
        <a class="btn btn-secondary" href="/Travel/index">返回</a>
    </div>
