@model Travelmodel
@{
    ViewBag.Ref = "travel";
    ViewBag.Title = "行程信息";
}
@{ int n = 0;}

    <div class="container">
        <div class="text-center">
            <img src="~/res/contains/005.png" width="200" height="200" />
            <h2>行程信息</h2>
            <p class="lead">下表是用户的所有出行信息</p>
        </div>
    </div>

    <div class="text-center">
        <h3>行程信息</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>旅行日期</th>
                    <th>旅行人ID</th>
                    <th>旅行时间</th>
                    <th>旅行地点</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.info_num; i++)
                {
                    <tr>
                        <td>@Model.Ids[i]</td>
                        <td>@Model.Dates[i]</td>
                        <td>@Model.Times[i]</td>
                        <td>@Model.Sites[i]</td>

                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary btn-lg" href="/">返回</a>
    </div>
