@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DistributionModel
@{ ViewBag.Ref = "distribution";
    ViewBag.Title = "hello"; }
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<h1>钱</h1>
@foreach (var id in Model.Idsdocmon)
{
    <h5 id=@id.id value="@id.id">id:@id.id 捐献时间:@id.timet 分配时间:@id.timed 数量:@id.number</h5>
}
<br />
<br />
<br />
<h1>物资</h1>
@foreach (var id in Model.Idsdocmat)
{
    <h5 id=@id.id value="@id.id">id:@id.id 捐献时间:@id.timet 分配时间:@id.timed 数量:@id.amount 类型:@id.type </h5>
}