@model TreatmentModel
@{
    ViewBag.Ref = "treatment";
    ViewBag.Title = "查看";
}
<div class="text-c">
    @if (Model.IDs.Count== 0)
    {
        <p>null</p>
    }
    else
    {
    int m = 1;
<div class="aa">
    @for (int i = 0; i < Model.IDs.Count; i++)
    {
        <div class="mm">@Model.IDs[i]</div>
        @if (m % 7 == 0)
        {
            <br />
        }
        m++;
    }
</div>
    }
    修改：<input type="text" value="null" id="plan_id2"/>
    <button id="buttonoo" class="button" onclick="modifi()">修改</button>
    <div id="staff"></div>
</div>
