@model TreatmentModel
@{
    ViewBag.Ref = "treatment";
    ViewBag.Title = "治疗方案";
}
<div class="body">
    <h3>医生读写治疗方案</h3>
    <a asp-area="" asp-controller="Treatment" asp-action="Check">检查治疗方案</a>
    <a asp-area="" asp-controller="Treatment" asp-action="insert">插入病人信息</a>
    <div><img src="~/res/图1.jpg" /></div>
</div>
