@model TreatmentModel
@{
    ViewBag.Ref = "treatment";
    ViewBag.Title = "治疗方案";
}
<div class="text_1">

    <h1>insert</h1>
    <form>
        医生ID：<input type="text" value="null" id="doctor_id" /><br />
        病人ID：<input type="text" value="null" id="patient_id" /><br />
        日期：<input type="text" value="null" id="date" /><br />
        时间：<input type="text" value="null" id="time" /><br />
        药物：<input type="text" value="null" id="medicine" /><br />
        备注：<input type="text" value="null" id="detail" /><br />
        <div id="button1" class="button" onclick="click2('World')">提交</div>
    </form>
</div>
