@model TreatmentModel
@{
    ViewBag.Ref = "treatment";
    ViewBag.Title = "治疗方案";
}
<body onload="CheckLogin2()">
    <div class="text_1">

        <h3>插入病人信息</h3>
        <form class="form-horizontal">
            病人ID：<input type="text" class="form-control" value="" id="patient_id" oninput="value=value.replace(/[^\d]/g,'')" /><br /><br />
            药物：<input type="text" class="form-control" value="" id="medicine" /><br /><br />
            备注：<input type="text" class="form-control" value="" id="detail" /><br /><br />
            <div id="button1" class="btn btn-primary" onclick="click12()">提交</div>
        </form>
    </div>
</body>
