@model TreatmentModel
@{
    ViewBag.Ref = "treatment";
    ViewBag.Title = "治疗方案";
}
<body onload="CheckLogin2()">
    <div class="text_1">

        <h1>insert</h1>
        <form>
            病人ID：<input type="text" class="input-1" value="" id="patient_id" oninput="value=value.replace(/[^\d]/g,'')" /><br /><br />
            药物：<input type="text" class="input-1" value="" id="medicine" /><br /><br />
            备注：<input type="text" class="input-1" value="" id="detail" /><br /><br />
            <div id="button1" class="button" onclick="click2('World')">提交</div>
        </form>
    </div>
</body>
