@{
    ViewBag.Ref = "login";
    ViewBag.Title = "登录";
}
 
<div class="text-center">
    <form name="mainForm">
        <p id="errorMessage"></p>
        <p>ID：<input id="userId" type="text" oninput = "value=value.replace(/[^\d]/g,'')" /></p>
        <p>密码：<input id="userPassword" type="password" /></p>
        <p>
            <label><input type="radio" name="userKind" value="people" checked="checked" /> 民众</label>
            <label><input type="radio" name="userKind" value="doctor" /> 医生</label>
            <label><input type="radio" name="userKind" value="manager" /> 管理员</label>
        </p>
        <p>
            <div class="btn btn-primary" onclick="login()">登录</div>
            <a class="btn btn-secondary" href="/Login/Register">注册</a>
        </p>
    </form>
</div>
