@model TreatmentModel
@{
    ViewBag.Ref = "treatment";
    ViewBag.Title = "治疗方案";
}
<div class="m1">
    <h1>医生读写治疗方案</h1>
    <a asp-area="" asp-controller="Treatment" asp-action="Check">检查治疗方案</a>
    <a asp-area="" asp-controller="Treatment" asp-action="insert">插入</a>
</div>
