@{
    ViewBag.Ref = "Home";
    ViewBag.Title = "主页";
}

@*<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" asp-area="" asp-controller="Communication" asp-action="Index">线上交流</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Distribution" asp-action="Index">分配物资</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Donation" asp-action="DonateMaterial">捐献物资</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Donation" asp-action="DonateMoney">捐献资金</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Donation" asp-action="Distribute">查看分配信息</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Examine" asp-action="Index">检查</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">民众/管理员/医生登录</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Questionnaire" asp-action="Index">管理问卷</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Questionnaire" asp-action="Fill">填写问卷</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Report" asp-action="Index">医生读写/病人读检查报告</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Settings" asp-action="Index">修改信息菜单</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Shared" asp-action="Index">共享</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Statistics" asp-action="Index">数据</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Template" asp-action="Index">模板</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Travel" asp-action="Index">行程信息</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Treatment" asp-action="Distribute">医生读写/病人读治疗方案</a></li>
        </ul>
    </div>
</nav>*@

<div id="carouselexampleindicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselexampleindicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselexampleindicators" data-slide-to="1"></li>
            <li data-target="#carouselexampleindicators" data-slide-to="2"></li>
            <li data-target="#carouselexampleindicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./res/contains/001.jpg" class="d-block w-100" alt="..." height="800">
            </div>
            <div class="carousel-item">
                <img src="./res/contains/002.jpg" class="d-block w-100" alt="..." height="800">
            </div>
            <div class="carousel-item">
                <img src="./res/contains/003.jpg" class="d-block w-100" alt="..." height="800">
            </div>
            <div class="carousel-item">
                <img src="./res/contains/004.jpg" class="d-block w-100" alt="..." height="800">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselexampleindicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselexampleindicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">next</span>
        </a>
</div>

