@{
    ViewBag.Ref = "questionnaire";
    ViewBag.Title = "创建问卷";
}

<div class="text-center">
    <h1>创建问卷</h1>
    <input type="button" id="question0" value="添加问题" onclick="addQuestion（）" />
</div>
