@{
    ViewBag.Ref = "questionnaire";
    ViewBag.Title = "问卷管理";
}

    <div class="text-center">
        <h1>问卷系统</h1>
        <b>您可以：</b>
        <ul>
            <li>
                <a asp-area="" asp-controller="questionnaire" asp-action="read">查看问卷</a>
            </li>
            <li>
                <a asp-area="" asp-controller="questionnaire" asp-action="create">编辑问卷</a>
            </li>
            <li>
                <a asp-area="" asp-controller="questionnaire" asp-action="result">查看今日统计结果</a>
            </li>
            <li>
                <a asp-area="" asp-controller="questionnaire" asp-action="fill">填写问卷</a>
            </li>
        </ul>

        
            
    </div>
