@{
    ViewBag.Ref = "questionnaire";
    ViewBag.Title = "已经填写过了！";
}
<div>
    <h1>您今日已经填写过问卷了！</h1>
    <SPAN style="FONT-SIZE: 12px">
        <script type="text/javascript"><!--
                function go(t, url) {
                    document.write("<div id=text>本页将在<strong id='tt'></strong>后，跳转至：<span id='link'></span></div>");
                    document.getElementById("link").innerHTML = "<a href=" + url + ">" + url + "</a>";
                    $(t, url);
                }
                function $(t, url) {
                    ta = t - 1;
                    tb = t + "000";
                    d = document.getElementById("tt");
                    d.innerHTML = t;
                    window.setInterval(function () {
                        go_to(url);
                    }, 1000);
                }
                function go_to(url) {
                    d.innerHTML = ta--;
                    if (ta < 0) {
                        document.write("正在跳转至：<a href=" + url + ">" + url + "</a>");
                        location.href = url;
                    }
                    else {
                        return;
                    }
                }
                //--></script>
        <script type="text/javascript">go(5, "/Home")</script>
    </SPAN>
</div>