@model ExamineModel
@{
    ViewBag.Ref = "Examine";
    ViewBag.Title = "创建检查报告";
}

<h3><strong>创建检查报告</strong></h3>
<form class="form-horizontal" method="post" >
    <div class="form-group">
        <label for="patient_id" class="col-sm-2 control-label">患者身份证号</label>
        <div class="col-sm-10">
            <input type="text" id="patient_id" class="form-control" placeholder ="请输入患者身份证号"  oninput="value=value.replace(/[^\d|xX]/g,'')" required="required"/>
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">报告标题</label>
        <div class="col-sm-10">
            <input type="text" id="title" class="form-control"  value="请输入检查报告的标题" MaxLength=30 required="required"/>
        </div>
    </div>
    <div class="form-group">
        <label for="detail" class="col-sm-2 control-label">报告详细内容</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="detail" rows="5" MaxLength="500"  required="required">请输入检查报告的详细内容</textarea>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" data-toggle="popover" data-trigger="focus" title="病人ID有误"  onclick=" create_()">提交</button>

        </div>
    </div>
</form>