@{
    ViewBag.Ref = "create";
    ViewBag.Title = "创建";
}

    <div class="tab-pane fade show active" id="people" role="tabpanel" aria-labelledby="people-tab">
        <p />
        <p>医生编号：<input type="text" id="doctorId"  /></p>
        <p>患者编号：<input type="text" id="patientId"  /></p>
        
        <p>时间：<input type="text" id="time" /></p>
        <p>细节：<input type="text" id="detail" /></p>
        
        <p><div class="btn btn-primary" id="createButton" >创建</div></p>
    </div>
