@{
    ViewBag.Ref = "Examine";
    ViewBag.Title = "检查报告";
}
<div class="text-center">
    <div class="panel panel-default">
        
        
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '../Examine/Create'">创建新报告</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="window.location.href = '../Examine/Write_index'"> 修改已有检查报告</button>
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="window.location.href = '../Examine/Read_index'"> 查看已有检查报告</button>
    </div>
</div> 