@model ExamineModel
@{
    ViewBag.Ref = "read";
    ViewBag.Title = "显示";
}
<div class="text-center">
    

        <p>检测报告序号@Model.ID_report&emsp;</p>
        <p>患者姓名：@Model.name_patient&emsp;</p>
        <p>患者身份证号：@Model.ID_patient&emsp;</p>
        <p>医生姓名：@Model.name_doctor&emsp;</p>
        <p>时间：@Model.time&emsp;</p>
        <p>报告细节：@Model.detail&emsp;</p>

    
</div>
