@{ ViewBag.Ref = "communication";
    ViewBag.Title = "线上问答"; }



<div class="text-center">
    <div class="Communication_body">
        <h3>请选择</h3>
        <div class="settings_vertical">
            <a asp-area="" asp-controller="Communication" asp-action="user">用户问询入口</a>
            <br />
            <a asp-area="" asp-controller="Communication" asp-action="doctor">医生答疑入口</a>
            <br />
            <a asp-area="" asp-controller="Communication" asp-action="check">用户查看入口</a>
            <br />

        </div>
    </div>
</div>