.bigput{
    margin-bottom:10px;
}


.abody{
    text-align:center;
}


.textareaab {
    border: 0;
    background-color: transparent;
    /*scrollbar-arrow-color:yellow;  
    scrollbar-base-color:lightsalmon;  
    overflow: hidden;*/
    color: #666464;
    height: auto;
}

#h{
    margin-bottom:10px;
    margin-top:10px;
}

.baody{
    padding-left :450px;
}
