@model StatisticsModel
@{
    ViewBag.Ref = "Index";
    ViewBag.Title = "首页";
}

<div class="text-center">
    <a asp-area="" asp-controller="Statistics" asp-action="ShowQRcode">展示二维码</a>
    <a asp-area="" asp-controller="Statistics" asp-action="Read">读取信息</a>
</div> 

