@model StatisticsModel
@{
    ViewBag.Ref = "Read";
    ViewBag.Title = "读取行程信息";
}
<div class="text-center">


    <p>旅行ID：@Model.ID&emsp;</p>
    <p>旅行日期：@Model.Date&emsp;</p>
    <p>旅行时长：@Model.Time&emsp;</p>
    <p>旅行地点：@Model.Site&emsp;</p>


</div>