@model QRcodeModel
@{
    ViewBag.Ref = "statistics";
    ViewBag.Title = "管理员展示二维码";
}

<div class="text-center">
    <div>
        <h1>请输入地点：</h1>
        <input type="text" id="site" oninput="enterSite(value)" />
    </div>
    <img id="code" src="/QRcode?path=Statistics/PeopleAdd?site=@Model.Site" />
</div>