@model QRcodeModel
@{
    ViewBag.Ref = "Statistics";
    ViewBag.Title = "⚠警告";
}

<div class="text-center">
    <h1>只有管理员才能展示二维码！</h1><br />
    <a class="btn btn-primary" href="/Statistics/Index">返回</a>
</div>